
html {
	height: 100%;
	min-height: 100%;
}

body {
	/*background-color: #0E222B!important;
	color: white!important;*/
	height: 100%;
	min-height: 100%;
	padding-top: 1em;
	padding-bottom: 2.8em;
}

#bottom_page_margin {
	min-height: 2.8em;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.Page {
	height: 100%;
}

.hidden {
	display: none!important;
}

#full_page_container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.mainContent {
	background-color: rgba(0, 0, 0, 0.5);
	padding: .5rem;
	border-radius: .5rem;
	min-height: 100%;
	flex: 1 1 auto;
}

.ability {
	position: relative;
	width: 100%;
	max-width: 800px;
	/*min-width: 500px;*/
	margin: 0.5em 0em;
	padding: 0.4em;
	background-color: #0E222B;
	/*display: flex;*/
}

@media only screen and (max-width: 600px) {
	.ability_icon_container,.talent_icon_container {
		float: left;
		margin-right: 0.8em;
	}
	.talent {
		min-height: 10em;
	}
	.ability {
		min-height: 12em;
	}
}

@media only screen and (min-width: 601px) {
	.ability, .talent {
		display: flex;
	}
	
}

.ability_rest_container > div {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 8px;
}

.ability_rest_container {
	margin-left: 0.8em;
	width: 100%;
}

.ability_name_container {
	display: flex;
	flex-wrap: wrap;
}

.ability_stances {
	width: 100%;
}

.ability_cooldown_container {
	text-align: center;
	font-size: 1.4em;
}

.ability_cooldown_container > span {
	margin: 0.3em;
}

.ability_image {
	width: 8em;
	height: 8em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.ability_name {
	padding-right: 1em;
	margin-right: auto;
	
}

.ability_bind {
	/*
	position: absolute;
	top: 5px;
	right: 15px;
	*/
	padding-right: 0.5em;
	font-size: 1.2em;
}

.ability_details_show_hide, .bio_details_show_hide {
	font-weight: 700;
	cursor: pointer;
}

.talent {
	position: relative;
	width: 100%;
	max-width: 800px;
	/*min-width: 500px;*/
	margin: 0.5em 0em;
	padding: 0.4em;
	background-color: #0E222B;
	/*display: flex;*/
}

.talent_image {
	width: 8em;
	height: 8em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.talent_rest_container {
	margin-left: 15px;
}

.talent_rest_container > div {
    margin-top: 5px;
    margin-bottom: 5px;
	padding-right: 8px;
}

.nav_container {
	position: fixed;
	overflow:hidden;
	border-radius: .25rem;
	bottom: 0px;
	left: 0px;
}

.btn_nav {
	padding: .375rem .75rem;
	text-align: center;
	cursor: pointer;
}

.form-select {
	
}

#image_selector_body img {
	margin: 5px;
	height: 150px;
}

#image_selector_modal .modal-content {
	background-color: #0E222B!important;
}

.ultimate_image {
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.card_category {
	background-color: #0E222B;
	margin: 15px;
}

.card_category_header {
	width: 100%;
	height: 3em;
	display: flex;
}

.card_category_image {
	height: 3em;
	width: 3em;
	min-width: 3em;
	margin-right: 0.5em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.card_category_name {
	font-size: 2em;
	vertical-align: middle;
}

.card_category_cards {
	display: flex;
	flex-wrap: wrap;
}

.game_card {
	position: relative;
	display: inline-block;
	width: 260px;
	background-color: #0E3940;
	margin: 5px auto;
	border: 2px solid white;
}

.game_card .card_image {
	width: 256px;
	height: 196px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

.game_card .card_name {
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 1.2em;
	border-bottom: 2px solid white;
}

.game_card .card_cost_level {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.1em;
}

.game_card .card_cost_level div {
	
}

.game_card .card_description_container {
	text-align: center;
	display: flex;
	width: 100%;
	height: 150px;
	max-height: 150px;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}

.game_card .card_description_container .card_description {
	margin: auto;
	padding: 3px;
}

.game_card .card_cost {
	text-align: left;
	border-right: 1px solid white;
}

.game_card .card_cooldown {
	text-align: center;
	border-right: 1px solid white;
	border-left: 1px solid white;
}

.game_card .card_level {
	text-align: right;
	border-left: 1px solid white;
}

.max_level {
	color: #32D119;
}

.keyword {
	font-weight: bold;
	cursor: pointer;
}

#card_level_select {
	display: flex;
}

#card_level_select button {
	margin: auto;
}

.note {
	color: #BBBBBB;
	/*position: absolute;
	bottom: 5px;
	left: 0px;*/
	padding: 5px 10px;
}

.keyword_tooltip .tooltip-inner {
	/*width: 400px;*/
	font-size: 1rem;
	max-width: 100%;
	width: 400px;
}

.ability_tooltip .tooltip-inner {
	width: 100%;
	max-width: 820px;
	text-align: left;
	font-size: 1rem;
}

.talent_tooltip .tooltip-inner {
	width: 100%;
	max-width: 820px;
	text-align: left;
	font-size: 1rem;
}

.card_tooltip .tooltip-inner {
	width: 275px;
	max-width: 275px;
	text-align: left;
	font-size: 1rem;
}

.ability_link, .talent_link, .card_link {
	color: #1adae8;
	cursor: pointer;
}

.bio_header {
	font-size: 1.4em;
}

.bio_point {
	margin-left: 1.5em;
	font-size: 1.2em;
}

.btn-secondary.clicked_nav {
	background-color: #363636;
}

.btn-secondary.clicked_nav:hover {
	background-color: #333333;
}

#Navbar {
	text-align: center;
	background-color: #333333;
	margin-bottom: 5px;
	border-radius: 0.5rem;
	font-size: 1.5em;
	user-select: none;
}

#Navbar .col:hover {
	color: #AAAAAA;
	background-color: #222222;
}

#Navbar_Left_Character {
	text-align: left;
}

#Navbar_Right_Character {
	text-align: right;
}

.CharacterSelectName {
	cursor: pointer;
	font-size: 2em;
	min-width: 10em;
	width: 33%;
	padding: 0.1em;
	/*padding-top: 0.5em;*/
	display: flex;
	align-items: flex-end;
	background-color: #444444;
	margin: 0.1%;
	user-select: none;
}

.CharacterSelectName .character_icon {
	border: 2px solid black;
	height: 2.5em;
	width: 2.5em;
	margin: 0.25em;
	background-repeat: no-repeat;
	background-size: contain;
}

#characterList {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}